<head>
 <script src=
 "https://maps.google.com/maps/api/js?sensor=false">
 </script>

<head>
<style>
table {
  max-width: 960px;
  margin: 10px auto;
}
h2{
  text-align:center;
  font-size:42px;
}

thead th {
  font-weight: 400;
  background: #8a97a0;
  color: #FFF;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

tr:nth-child(even) {
  background: #e8eeef;
}

th, td {
  text-align: left;
  padding: 20px;
  font-weight: 300;
}
body{
  
  background-color: #474848;
  
}
</style>
<body>
<center>
  <h1 style="color: #03c04a;font-family: Arial, Helvetica, sans-serif;">Find Nearby Hospitals </h1>
  <div id="Map" style="width:700px; height:500px;border: 2px #03c04a ;"></div>
</center>
<h2 style="color: #03c04a">Locations</h2>
    <table>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Geolang</th>
        </tr>
      </thead>
      <tbody>
    {% for h in location %}
    
    
        <tr>
      <th scope="row">{{h.Name}}</th>
      <td>{{h.Geolang}}</td>
        </tr>
{% endfor %}
      </tbody>
    </table>
</body>
<script src='../static/home.js'></script>
