{% extends 'base.html' %} {% block content %}
<section>
  <div class="form">
    <form>
    <h2>Register </h2>
    <input type="Name" placeholder="Enter Name">
    <input type="username" placeholder="Enter Username">
    <input type="create-password" placeholder="Create password">
    <input type="confirm-password" placeholder="Confirm password">
    <a href="" type="button">Register Now</a>
    </form>
    <p class="text">Already Registerd? <a class="already" href="../login">Log In</a></p>    
</div>
</section>
{% endblock %}
